USE [QL_VATTU]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 28-Oct-18 1:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [char](4) NOT NULL,
	[CHINHANH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SoDT] [varchar](50) NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHATSINH]    Script Date: 28-Oct-18 1:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHATSINH](
	[PHIEU] [char](5) NOT NULL,
	[MAVT] [char](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_CT_PHATSINH_1] PRIMARY KEY CLUSTERED 
(
	[PHIEU] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 28-Oct-18 1:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [char](6) NOT NULL,
	[TENKHO] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[MACN] [char](4) NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28-Oct-18 1:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [numeric](18, 0) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [char](3) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[LUONG] [float] NOT NULL,
	[MACN] [char](4) NOT NULL,
	[HINH] [varchar](255) NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHATSINH]    Script Date: 28-Oct-18 1:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHATSINH](
	[PHIEU] [char](5) NOT NULL,
	[NGAY] [smalldatetime] NULL,
	[LOAI] [char](1) NULL,
	[HOTENKH] [nvarchar](50) NULL,
	[THANHTIEN] [float] NULL,
	[MANV] [numeric](18, 0) NULL,
	[LYDO] [nvarchar](100) NULL,
	[MAKHO] [char](6) NULL,
 CONSTRAINT [PK_PHATSINH] PRIMARY KEY CLUSTERED 
(
	[PHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 28-Oct-18 1:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [char](4) NOT NULL,
	[TENVT] [varchar](50) NOT NULL,
	[DVT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHINHANH] ([MACN], [CHINHANH], [DIACHI], [SoDT]) VALUES (N'CN1 ', N'Chi nhánh 1 TP HCM', N'35 Trần Hưng Đạo P1 Q1 TP HCM', N'999111888')
INSERT [dbo].[CHINHANH] ([MACN], [CHINHANH], [DIACHI], [SoDT]) VALUES (N'CN2 ', N'Chi nhánh 2 TP Hà Nội', N'255 Nguyễn Huệ P1 Q1', N'888444777')
INSERT [dbo].[CHINHANH] ([MACN], [CHINHANH], [DIACHI], [SoDT]) VALUES (N'CN3 ', N'Chi nhánh 3 TP Đà nẵng', N'34 Nguyễn Du Đà Nẵng', N'345345313')
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'P0001', N'MX01', 5, 60)
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'P0001', N'MX02', 10, 50)
INSERT [dbo].[CT_PHATSINH] ([PHIEU], [MAVT], [SOLUONG], [DONGIA]) VALUES (N'P0002', N'MX03', 12, 50)
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'K01   ', N'KHO chứa hàng', N'19 Thanh Xuân - Hà Nội', N'CN1 ')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'K02   ', N'KHO chứa hàng', N'23 Quận 5 - TP HCM', N'CN2 ')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN]) VALUES (N'K03   ', N'KHO chứa đồ bảo trì', N'23 Nguyễn Du - Hà Nội', N'CN1 ')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [MACN], [HINH], [GHICHU]) VALUES (CAST(2 AS Numeric(18, 0)), N'PHAM DAN ', N'TRUONG', N'Nam', N'200 Kỳ Đồng', CAST(0x6D260000 AS SmallDateTime), 900000, N'CN2 ', N'E:\CSDL_PT\CT_QLVT\Hinh\DanTruong.jpg', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [MACN], [HINH], [GHICHU]) VALUES (CAST(4 AS Numeric(18, 0)), N'NGUYEN THINH ', N'PHONG', N'Nam', N'157 Dương Bá Trạc P1 Q8', CAST(0x79D00000 AS SmallDateTime), 1000000, N'CN2 ', NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG], [MACN], [HINH], [GHICHU]) VALUES (CAST(5 AS Numeric(18, 0)), N'THI NGOC', N'LAN', N'Nu ', N'999, 3 tháng 2 P6 Q10 TPHCM ', CAST(0x7A9F0000 AS SmallDateTime), 1000000, N'CN1 ', N'E:\CSDL_PT\CT_QLVT\Hinh\ChauNgocLan.BMP', NULL)
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [THANHTIEN], [MANV], [LYDO], [MAKHO]) VALUES (N'P0001', CAST(0x99310000 AS SmallDateTime), N'N', N'TRỊNH Y KIỆN', 40, CAST(4 AS Numeric(18, 0)), N'Cấp kinh phí', N'K02   ')
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [THANHTIEN], [MANV], [LYDO], [MAKHO]) VALUES (N'P0002', CAST(0xA8190000 AS SmallDateTime), N'N', N'LÊ HOÀNG KHANG', 20, CAST(8 AS Numeric(18, 0)), N' Mua đồ', N'K02   ')
INSERT [dbo].[PHATSINH] ([PHIEU], [NGAY], [LOAI], [HOTENKH], [THANHTIEN], [MANV], [LYDO], [MAKHO]) VALUES (N'P0003', CAST(0x99320000 AS SmallDateTime), N'X', N'CHÂU TINH TRÌ', 50, CAST(8 AS Numeric(18, 0)), N' Trả nợ', N'K02   ')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT]) VALUES (N'MX01', N'May giat', N'thuong')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT]) VALUES (N'MX02', N'May xay', N'cao cap')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT]) VALUES (N'MX03', N'Ti vi', N'thuong')
ALTER TABLE [dbo].[PHATSINH] ADD  CONSTRAINT [DF_PHATSINH_LOAI]  DEFAULT ('N') FOR [LOAI]
GO
ALTER TABLE [dbo].[CT_PHATSINH]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_PHATSINH_PHATSINH] FOREIGN KEY([PHIEU])
REFERENCES [dbo].[PHATSINH] ([PHIEU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_PHATSINH] CHECK CONSTRAINT [FK_CT_PHATSINH_PHATSINH]
GO
ALTER TABLE [dbo].[CT_PHATSINH]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_PHATSINH_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHATSINH] CHECK CONSTRAINT [FK_CT_PHATSINH_VATTU]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_CHINHANH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_NHANVIEN_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHINHANH]
GO
ALTER TABLE [dbo].[PHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_PHATSINH_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHATSINH] CHECK CONSTRAINT [FK_PHATSINH_KHO]
GO
ALTER TABLE [dbo].[PHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_PHATSINH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHATSINH] CHECK CONSTRAINT [FK_PHATSINH_NHANVIEN]
GO
ALTER TABLE [dbo].[PHATSINH]  WITH CHECK ADD  CONSTRAINT [CK_PHATSINH] CHECK  (([LOAI]='C' OR ([LOAI]='T' OR ([LOAI]='X' OR [LOAI]='N'))))
GO
ALTER TABLE [dbo].[PHATSINH] CHECK CONSTRAINT [CK_PHATSINH]
GO
